html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'dot-font';
    src: url('font/dot-font.eot');
    src: url('font/dot-font.eot?#iefix') format('embedded-opentype'),
         url('font/dot-font.woff') format('woff'),
         url('font/dot-font.ttf') format('truetype'),
         url('font/dot-font.svg#bold_dot_digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	background: black;
	font-family: "dot-font";
	color: white;
	font-size: 36px;
	padding: 36px;
}

li {
	margin-bottom: 20px;
}

